@media all and (max-device-width: 799px) {

/* Reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font-family:'Comic Sans MS';
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 36px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 50px;
  color:white;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}


/* Common Layout ================================ */
body {
  color: #2d3133;
  background-color: #66cdaa;
  margin: 0;
  min-height: 1vh;
}

.main {
  position: absolute;
  top: 64px;
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: #f5f8fa;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

/* Header ================================ */
header {
  height: 130px;
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: #66cdaa;
}

.header-logo {
  float: left;
  padding: 10px 0px 20px;
  color: white;
  font-size: 44px;
  line-height: 0px;
}

.header-logo a{
  color: white;
  font-size: 44px;
}


  /****メニュー全体****/
#menu{
	/*配置*/
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 100;
}

/****メニュー開閉ボタン****/
#menu div{
	/*デザイン*/
	width: 110px;
	height: 110px;
	background: rgba(200,200,200,0.6);
	/*配置*/
	overflow: hidden;
	position: absolute;
	right:0;
}

#menu .menuopen{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 60px;
	/*配置*/
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: auto;
}

#menu .menuclose{
	/*デザイン*/
	color: rgba(255,255,255,1);
	font-size: 60px;
	/*配置*/
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: auto;
}

/****メニュー一覧****/
#menu ul{
	/*デザイン*/
	background: rgba(200,200,200,0.6);
	width: 50%;
	/*配置*/
	position: absolute;
	top: 90px;/*#menu divの高さ*/
	right: 0;
	display: none;
	float: none;
}

#menu li{
	/*デザイン*/
	padding: 50px;
	color: rgba(0,0,0,1);
	border-bottom: 1px rgba(255,255,255,0.6) solid;
	/*配置*/
	pointer-events: auto;
	float: none;
	margin: 1px;
}

/****メニューオープン時****/
#menu:target .menuopen{
	/*配置*/
	display: none;
}

#menu:target .menuclose{
	/*配置*/
	display: block;
}

#menu:target ul{
	/*配置*/
	display: block;
}

/*** メインエフェクト ***/
#main{
	/*デザイン*/
	background: #fff;/*ページ背景色・背景画像はここで設定*/
	/*アニメーション*/
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

#menu:target ~ #main{
	-webkit-filter:brightness(70%);
	-moz-filter:brightness(70%);
	-ms-filter:brightness(70%);
	filter:brightness(70%);
}

/*  .header-menus li{
    display:none;
  }
*/
 .menu-icon{
    visibility:visible;
    padding:30px;
    color:white;
    size:34px;
  }


.header-menus {
  position:absolute;
  top:60px;
  right:150px;
  padding-right: 20px;
}
.header-menus li {
  float: left;
  font-size: 32px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  color: white;
}

/* Form ================================ */
.form {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
}

.form-heading{
  font-weight: 300;
  margin: 100px 0 60px;
  font-size: 48px;
  color: #bcc8d4;
}

.form-body {
  padding: 30px;
  font-size:32px;
}

.form-error {
  color: #ff4d75;
}

.form input {
  width: 100%;
  border: 1px solid #d8dadf;
  padding: 10px;
  color: #57575f;
  font-size: 32px;
  letter-spacing: 2px;
  border-radius: 2px;
}

.form textarea {
  width: 100%;
  min-height: 110px;
  font-size: 32px;
  letter-spacing: 2px;
}

.form input[type="submit"] {
  background-color: #66cdaa;
  color: white;
  cursor: pointer;
  font-weight: 300;
  width: 120px;
  border-radius: 2px;
  margin-top: 8px;
  margin-bottom: 0;
  float: right;
}

.form-body:after {
  content: '';
  display: table;
  clear: both;
}


/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #66cdaa;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 60px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color:black;
  margin:30px;
}

.user p {
  font-size: 26px;
  margin-bottom: 15px;
  color:black;
  margin:30px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #66cdaa;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
}